.assignment-tab:nth-child(1)
{
	border-top: 2px solid black;
}

.assignment-tab
{
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;

	h3
	{
		margin: 0;
	}

	p
	{
		margin: 10px 0;
	}

	a
	{
		display: block;
		padding: 10px;
	}
}