<!-- Nav tabs -->
<div id="selection-tab">
	<ul>
		<li ng-class="{'active':$first}" ng-repeat="value in tabList" ng-click="changeActive($event)">{{value}}</li>
	</ul>
</div>

<!-- Tab panes -->
<div id="tab-content">
	<div class="tab" ng-if="!showSubmission">
		<h1>{{title}}</h1>
		<p>due {{due_at | date: 'longDate'}}</p>
		<p>{{description}}</p>
	</div>
	<div class="tab" ng-if="showSubmission">
		<div class="submission-entry" ng-repeat="entry in submissions" ng-click="changeSubmissionContent($event, $index)">
			<div class="submission-detail">
				<div class="submission-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="submission-user-info">
					<h3>{{entry.creator.first_name}} {{entry.creator.last_name}}</h3>
					<p>turned in {{entry.submitted_at | date: 'longDate'}}</p>
				</div>
				<div class="submission-caret">
					<i class="fa fa-caret-up" ng-if="submissionIndex == $index"></i>
					<i class="fa fa-caret-down" ng-if="submissionIndex != $index"></i>
				</div>
			</div>
			<div class="submission-content" ng-if="submissionIndex == $index">
				<p>{{entry.content}}</p>
			</div>
		</div>
	</div>
</div>